@media only screen and (min-width: 800px) {
    .eftop-container {
        display: none;
    }
    .page-new-header {
        background-image: none !important;
    }
}

@media only screen and (max-width: 850px) {
    body #ouibounce-modal.popup9-style.halween-form .modal {
        width: 90%;
    }
    body #ouibounce-modal.popup9-style.halween-form .pmodal-left {
        width: 100%;
        border-radius: 20px;
    }
    body #ouibounce-modal.popup9-style.halween-form .modal .pmodal-head h3 {
        font-size: 20px;
    }
    body #ouibounce-modal.popup9-style.halween-form h4 {
        font-size: 13px;
    }
    body #ouibounce-modal.halween-form .modal-footer {
        top: -10px;
    }
    .pmodal-right {
        display: none !important;
    }
    body #ouibounce-modal.popup9-style .pmodal-left {
        width: 100%;
        padding: 20px;
    }
    body #ouibounce-modal.popup9-style .modal .pmodal-head h3 {
        font-size: 18px;
    }
    body #ouibounce-modal.popup9-style h4 {
        line-height: normal;
        font-size: 13px;
    }
    body #ouibounce-modal.popup9-style h4 br {
        display: none;
    }
    body #ouibounce-modal.popup9-style .modal {
        height: 520px;
    }
    body #ouibounce-modal.popup9-style form input[type=text],
    body #ouibounce-modal.popup9-style form input[type=email],
    body #ouibounce-modal.popup9-style form textarea {
        line-height: normal;
        height: 40px;
    }
    body #ouibounce-modal.popup9-style form textarea {
        height: 70px;
    }
    body #ouibounce-modal.popup9-style form input[type=submit] {
        padding: 11px 30px;
        font-size: 16px;
    }
    body.page-id-88 .header-container a.logo {
        display: table;
        margin: 0 auto;
    }
    body .step2-form {
        padding: 15px;
    }
    body p.bg {
        display: none;
    }
    body .thank-you-btn a.th-btn+a {
        margin-top: 10px;
    }
    body .thank-you-btn a.th-btn {
        max-width: 270px;
        clear: both;
        width: 100%;
        margin: 0;
    }
    body .pmodal-head:after {
        max-width: 80px;
        background-size: contain;
        height: 80px;
    }
    body .owl-item.center {
        transform: scale(1);
    }
    body .test-cinn {
        margin-top: 0;
    }
    body .first-section.sec-container .container {
        padding-top: 3em;
    }
    body .sx-item {
        max-width: 100%;
    }
    body .sx-full {
        margin-top: 0;
    }
    body .sx-cont {
        display: table;
    }
    body .banner h1 br {
        display: none;
    }
    body .th0-thumb {
        display: none;
    }
    body .cp-right.contact-padd>.vc_column-inner>.wpb_wrapper p {
        font-size: 14px;
    }
    body.page-id-54 .page-new-header+section.entry-content {
        padding-bottom: 0;
    }
    body .owl-dots .owl-dot {
        width: 12px;
        height: 12px;
    }
    body.page-id-54 ul.btns.btnsinn {
        display: none;
    }
    body .contact-padd>.vc_column-inner>.wpb_wrapper {
        padding: 0;
    }
    body .cp-left.contact-padd {
        box-shadow: none;
    }
    body .contact-form h2 {
        font-size: 24px;
    }
    body .contact-page .cp-left h3 {
        font-size: 16px;
    }
    body .cp-right.contact-padd>.vc_column-inner>.wpb_wrapper {
        padding: 3em 0;
    }
    .copyrights.copyrightslast {
        display: block;
        margin-top: 2em;
        font-size: 11px;
    }
    body .page-new-circle {
        left: 0;
        bottom: 0;
    }
    body .ts-item h4 {
        font-size: 14px;
    }
    body footer .col-md-4 {
        clear: both;
    }
    body .ts-item-cover {
        margin: 0 !important;
        box-shadow: none;
    }
    body .header-fixed .headnav i.fa {
        color: #fff;
    }
    body .first-section.sec-container {
        margin: 0;
    }
    body .sx-top h2 {
        font-size: 20px;
    }
    body .sx-top h2+p {
        font-size: 16px;
    }
    body .sx-item-thumb {
        display: table;
        margin: 0 auto 10px;
        float: none;
    }
    body footer .col-md-4 .subsform li input[type="submit"] {
        margin: 0 auto;
        float: none;
        display: table;
        padding: 7px 20px;
        font-size: 16px;
    }
    body section.section-space.hsection-1 {
        padding: 60px 0 30px;
        text-align: center;
    }
    body .banner h1 {
        font-size: 24px;
        line-height: 34px;
    }
    body .banner h4 {
        display: none;
    }
    body .banner p {
        display: none;
    }
    body ul.btns li a {
        margin: 0 auto;
        display: table;
        font-size: 14px;
        float: none;
        padding: 10px 25px;
        width: 100%;
        max-width: 230px;
    }
    body ul.btns li {
        width: 100%;
        margin-right: 0;
    }
    body section.visibility {
        background: none;
        text-align: center;
    }
    body h2.h2bl {
        font-size: 24px;
    }
    body .test-section img {
        /* display: none; */
        max-width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    body .test-section h2 {
        margin-top: 0;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 14px;
    }
    body .copyrights.copyrightshide {
        font-size: 10px;
        margin-top: 1em;
        display: none;
    }
    body section.section-space {
        padding: 40px 0;
    }
    body .get-touch h2.h2bl {
        text-align: center;
    }
    body .get-touch h2+h6 {
        display: none;
    }
    body footer h4 {
        clear: both;
        min-height: auto;
        margin-top: 1em;
        float: left;
        width: 100%;
        text-align: center;
    }
    body .test-section .owl-dots {
        margin-top: 0;
    }
    body .footer-container {
        margin-top: 0;
    }
    body header.titleheader {
        padding: 4em 0;
    }
    body .header-container {
        /* position: static; */
        background: #1d2635;
    }
    body ul.top-social {
        margin: 0 auto;
        display: table;
        display: none;
    }
    body .fr-top {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
    body .fr-section.sec-container .fr-cont .panel-group {
        text-align: left;
        margin: 2em 0;
        width: 100%;
        float: left;
    }
    .test-top h2 {
        font-size: 18px;
    }
    .sec-container br {
        display: none;
    }
    .sec-container h3 {
        font-size: 18px;
        line-height: normal;
    }
    .th-thumb {
        display: none;
    }
    body .header-container.header-fixed img {
        padding: 0;
        max-width: 160px;
    }
    body .header-fixed .headnav {
        margin-top: 17px;
    }
    body strong.fsubtext span {}
    footer {
        padding: 40px 0 140px 0;
        text-align: center;
    }
    .page-new-header {
        padding: 1em 0 0;
        min-height: auto;
    }
    .sec-container h2:before {
        display: none
    }
    body .ts-item {
        background: none;
        padding: 0;
        margin: 1em 0;
    }
    body .test-section {
        text-align: center;
        padding: 30px 0;
    }
    body .sec-container {
        text-align: center;
        padding: 20px 0;
    }
    body .th-item {
        margin-top: 2em;
    }
    body p.space {
        display: none;
    }
    body .fr-item p {
        min-height: auto;
    }
    body .fr-item.fr-item-top {
        margin-top: 2em;
    }
    body .fr-item.fr-book {
        display: none;
    }
    body .contact-line h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    body .contact-line h4 {
        display: none;
        font-size: 16px;
    }
    body .headnav {
        display: block;
    }
    .banner-text {
        text-align: center;
    }
    body #ouibounce-modal form input[type=submit] {
        font-size: 17px;
    }
    body #ouibounce-modal .modal {
        width: 300px;
        /* height: 460px; */
    }
    body #ouibounce-modal .modal h3 {
        font-size: 15px;
        /* max-width: 180px; */
        line-height: 22px;
    }
    body #ouibounce-modal h4 {
        font-size: 14px;
        max-width: 88px;
        line-height: 14px;
    }
    body header.titleheader h1.entry-title {
        font-size: 24px;
    }
    body .page-new-header .container:before {
        border-radius: 0;
        left: -50%;
    }
    body .page-new-title h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    body .page-new-title br {
        display: none;
    }
    body .page-new-title {
        padding: 2em 0;
        text-align: center;
        border-width: 0;
    }
    div#wrapper {
        overflow-x: hidden;
    }
    body .etop-container {
        /* display: none !important; */
        text-align: center;
    }
    body .main-menu {
        display: none;
    }
    body ul.top-info {
        float: none;
    }
    body ul.top-info li {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    body .header-container img {
        max-width: 180px;
    }
    body .header-container a.logo {
        line-height: 50px;
    }
    body .page-new-title a.get_in_touch {
        font-size: 14px;
        padding: 10px 25px;
        width: 100%;
        max-width: 230px;
        float: none;
        margin: 12px auto;
        display: table;
    }
    body section.get-touch button {
        font-size: 16px;
        padding: 10px 35px;
        margin: 0 auto;
        display: table;
    }
    body small.ltdoffer {
        float: none;
        margin-top: 0;
    }
    body .etop-center h3 {
        margin-right: 0;
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
    }
    body .etop-center a.etop-tbn {
        font-size: 16px;
        padding: 10px 20px;
        float: none;
        margin: 0 auto;
        display: table;
    }
    body.page-id-45 h2 {
        font-size: 24px;
    }
    body .serv-number {
        display: none !important;
    }
    body .this-item>.vc_column-inner>.wpb_wrapper {
        padding-top: 30px;
    }
    body .contact-form {
        margin-bottom: 4em;
        width: 100%;
        text-align: center;
    }
    body .cp-right {
        text-align: center;
    }
    body .why-hire-right.hinn-right {
        position: static;
        margin-bottom: 2em;
    }
    body .page-new-header+section.entry-content {
        padding: 40px 0;
    }
    body .why-hire-right,
    body .why-hire-left {
        padding: 0;
    }
    .caption .col-md-8 {
        margin-top: 0;
    }
    ul.btns {
        margin-top: 0;
    }
    .why-hire-right.col-md-4 {
        clear: both;
    }
    body ul.btns li a {
        padding: 8px;
    }
    .hs-form-area .form-check-label span {
        text-align: left;
    }
    body section.sx-section.sec-container.pros-sec {
        padding-top: 0;
    }
    .cont-row {
        padding-bottom: 0;
        padding-top: 20px;
    }
    section.get-in-touch h5 {
        font-size: 18px;
    }
    section.get-in-touch h4 {
        font-size: 22px;
    }
    section.get-in-touch h4 br {
        display: none;
    }
    .orignal .sx-top h2+p {
        font-size: 16px;
    }
    .ts-item-cover p {
        min-height: unset;
    }
    .headnav i.fa {
        color: #fff;
    }
    section.footcontact .container {
        background-image: none;
    }
    section.home-serv img {
        margin-top: 0;
    }
    body .banner ul.btns li:first-child {
        display: none;
    }
    section.home-serv h4 {
        font-size: 22px;
    }
    section.home-serv {
        text-align: center;
    }
    section.th-section.sec-container {
        padding: 20px 0;
    }
    .orignal .sx-top h2 {
        font-size: 24px;
    }
    section.footcontact {
        text-align: center;
        padding-bottom: 0;
        background-size: cover;
    }
    section.footcontact h2 {
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 0;
        margin-bottom: 0;
    }
    .footer-menu li,
    .footer-menu li a {
        text-align: center;
        display: block;
    }
    ul.subsform {
        display: table;
        margin: 0 auto;
    }
    footer .col-md-4 .subsform li input {
        width: 100%;
    }
    .hentry p {
        text-align: center;
    }
    .hentry h3,
    .hentry h3 strong {
        display: block;
        text-align: center;
        font-size: 22px;
    }
    ul.btns.btnsinn li:first-child {
        display: none;
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a {
        font-size: 15px;
        line-height: 1.5;
    }
    article#post-88,
    article#post-88 h3,
    article#post-88 h4 {
        text-align: left;
    }
    article#post-88 h3 {
        font-size: 18px;
    }
    .hs-form-area:after {
        background-size: 60px;
        top: -20px;
    }
    .hs-form-area {
        float: none;
        width: 100%;
        display: table;
    }
    div#CountDownTimer {
        display: none;
    }
    body .banner h1+h4 {
        display: block;
        font-size: 17px;
        line-height: 1.4;
        margin-bottom: 10px;
    }
    section.get-in-touch {
        margin: 20px 0;
    }
    .owl-item.center .ts-item-cover {
        padding-bottom: 20px;
    }
    section.footcontact h6 {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 9px 0;
        margin-top: 0;
    }
    img.bn-full {
        display: none;
    }
    .cap-abs {
        top: 0;
        padding-bottom: 0;
    }
    ul.service-listings li,
    ul.service-listings li:nth-child(even) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 100px;
        margin-bottom: 10px;
    }
    ul.service-listings li:nth-child(even) img {
        left: 0;
        right: 0;
        margin: auto;
        top: 0px;
    }
    ul.service-listings li img {
        left: 0;
        right: 0;
        margin: auto;
    }
    section.pricingsolution h2 {
        font-size: 30px;
    }
    .pslaptop .cutprice {
        position: relative;
        display: table;
        margin: 0 auto;
        top: unset;
        left: unset;
        margin-bottom: 10px;
    }
    .solcols>div {
        width: 100%;
        display: block;
        text-align: center;
    }
    .solcolleft small {
        text-align: center;
    }
    section.ourpackages h2 {
        font-size: 26px;
    }
    section.ourpackages h2 br {
        display: none;
    }
    .packcover {
        margin-bottom: 15px;
        display: block;
    }
    .eftop-left,
    .eftop-right {
        display: none;
    }
    body.home section.section-space.hsection-1 {
        padding: 10px 0 30px;
    }
    .head-bold h2 {
        text-align: center;
    }
    .heading-space {
        margin-bottom: 1em;
    }
    html .wpb-js-composer .vc_tta.vc_general .vc_tta-tab>a {
        padding: 8px 5px;
    }
    h4.vc_tta-panel-title {
        display: none;
    }
    .page-id-168 .vc_col-sm-3 .vc_column-inner>.wpb_wrapper {
        min-height: unset;
    }
    .eftop-container {
        display: none;
    }
    body.page-id-3 .header-container {
        background-color: #fff;
    }
    body.page-id-3 .header-container i.fa.fa-bars {
        color: #000;
    }
    body.page-id-3 .header-container.header-fixed i.fa.fa-bars {
        color: #fff;
    }
    body.page-id-3 .header-container.header-fixed {
        background-color: #000;
    }
    .page-id-168 .vc_col-sm-3 .vc_column-inner>.wpb_wrapper a.btn.btn-learn {
        position: static;
    }
    body.page-id-98 .header-container {
        background-color: #fff;
    }
    body.page-id-98 .header-container i.fa.fa-bars {
        color: #000;
    }
    .page-id-98 footer .row {
        display: none;
    }
    .page-id-98 footer {
        padding-top: 10px;
    }
    .page-id-98 .copyrights.copyrightslast {
        border: 0px;
    }
    .col-md-4.psfleftyy {
        display: none;
    }
    .psleft li {
        width: 100%;
    }
}